* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shareable Classes */
.btn {
  font-family: inter;
  font-weight: 600;
  color: #ffffff;
  background-color: #469165;
  border: none;
  border-radius: 5px;
  padding: 16px;
  cursor: pointer;
}
.btn i {
  margin-left: 12px;
}

.btn:hover {
  outline: 1px solid #469165;
  background-color: #ffffff;
  color: #469165;
}

.secondary-btn {
  font-family: inter;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.secondary-btn:hover {
  border: 1px solid #469165;
  background-color: #469165;
  color: #ffffff;
}
/* Non shareable classes */

/* CSS of Navbar */
nav {
  max-width: 1360px;
  width: 83%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

#nav-links ul {
  display: flex;
  gap: 32px;
}

#nav-links ul li {
  list-style: none;
}

#nav-links ul li a {
  text-decoration: none;
  color: #000000;
  font-family: inter;
  font-weight: 500;
}

#nav-links ul li a:hover {
  color: #469165;
}

/* CSS of Hero-Section */
#hero {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
#hero .hero-section {
  max-width: 1360px;
  width: 83%;
  margin: 115px auto 180px;
  text-align: center;
}
.hero-section h3 {
  width: 20%;
  margin: 0 auto 16px;
  border-radius: 20px;
  padding: 8px;
  font-family: inter;
  font-weight: 500;
  background-color: #fffdf5;
  color: #469165;
}
.hero-section h3 span {
  margin-left: 8px;
}
.hero-section h1 {
  font-family: inter;
  font-size: 72px;
  margin: 0 auto 16px;
  width: 770px;
  font-family: inter;
  color: #ffffff;
}
.hero-section h1 span {
  color: #469165;
}

.hero-section p {
  font-family: inter;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 32px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 10px;
}

/* CSS of Structure Cards */

.structure-card {
  max-width: 1360px;
  width: 83%;
  margin: 0 auto;
}

.structure-card .card-info {
  text-align: center;
  margin: 44px 0;
}
.card-info h1 {
  font-family: inter;
  font-size: 48px;
  margin-bottom: 16px;
}
.card-info p {
  font-family: inter;
}

.cards {
  display: flex;
  gap: 24px;
}

.card {
  padding: 70px 24px;
  box-shadow: 0px 0px 8px 0px rgba(180, 180, 180, 0.532);
  text-align: center;
}
.card:hover {
  background-color: #f7f6f2;
}

.card img {
  background-color: #f95555;
  padding: 14px;
  border-radius: 100%;
  margin-bottom: 16px;
}

.card h3 {
  margin-bottom: 16px;
  font-family: inter;
  font-weight: 600;
  font-size: 24px;
}

.card p {
  font-family: inter;
}

/* CSS of Solution Section */

.solution {
  max-width: 1360px;
  width: 83%;
  margin: 120px auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

.solution h3 {
  font-family: inter;
  color: #469165;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.solution h1 {
  font-family: inter;
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.solution .solution-overview {
  font-family: inter;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.key-solution {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.key-solution p {
  color: #001931;
  font-family: inter;
}

.key-solution img {
  margin-right: 6px;
}

/* CSS for Early Access Section */

.early-access {
  max-width: 1360px;
  width: 83%;
  margin: 120px auto;
  background-color: #f7f6f2;
  display: flex;
  justify-content: center;
}

.early-access div {
  text-align: center;
}

.early-access div h1 {
  font-family: inter;
  font-size: 40px;
  margin-top: 80px;
}

.early-access div p {
  font-family: inter;
  margin: 16px 0 24px 0;
  color: #627382;
}

.credit {
  padding-bottom: 56px;
}

/* CSS for Footer Section */

footer {
  background-color: #001931;
  display: flex;
}

.footer-section {
  max-width: 1360px;
  width: 83%;
  margin: 80px auto;
  text-align: center;
}

.footer-links {
  padding: 60px 120px 80px 120px;
  display: flex;
  justify-content: space-between;
}
hr {
  opacity: 0.2;
  margin-bottom: 30px;
}

.footer-links h4 {
  font-family: inter;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-links .social-links {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
.footer-links .social-links a {
  color: #ffffff;
}

.footer-links .social-links a:hover {
  color: #469165;
}

.footer-section .copywrite {
  font-family: inter;
  color: #fafafa;
}
